<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="apptype" type="which type of app"/>
    <section name="browserAppSettings" type="browser specific settings"/>
    <section name="mobileAppSettings" type="device specific settings"/>
    </configSections>
  
  <apptype>
     <add key ="Browser" value="Y"/>
     <add key="Mobile" value="N"/>
   </apptype>
  
  <browserAppSettings>
    <add key="Chrome" value="Y"/>
    <add key="Firefox" value="N"/>
    <add key="IE" value="N"/>
  </browserAppSettings>
  
  <mobileAppSettings>
    <add key="Android" value="Y"/>
    <add key="IOS" value="N"/>
  </mobileAppSettings>
  <appSettings>
  <add key="baseURL" value="https://app.my-mobilekey.com/repro/page/weblogin/v7/en/account/login"/>
  <add key="user" value="sv-neu@fun-ny.de"/>
  <add key="pass" value="Q1w2e3r4"/>  
  </appSettings>
</configuration>